body{
    
    background-size: 100%;
    font-family: sans-serif ;
    font-size: 40px;
    color:black;
    background-image: url(images/menu.png);
    background-repeat: repeat;
    background-attachment: fixed;
    
    
   }

h1{
    text-align: center;
    font-size: 60px;
    color:white;
    background-color: rgb(4, 4, 10);
}
em{
    text-align: right;
}


U{
    color:green;
}
B{
    font-size: 52px;
}
h2{
    font-size: 15px;
    text-align: center;
}

